.mast.push
  header
    h1.logo 
      a(href='/') Micheal Benedict

  nav
    .non-drawer
      ul(role="navigation")
        li
          a(href='/') Posts

    .drawer
      .menu-icon
        a(href="#menu" class="menu-link") &#9776;

      .panel(id="menu" role="navigation")
        ul
          li
            a(href='/') Posts