extends ./layout.jade

block content
  include ./partials/_nav.jade
  .container.post.push.typeset
    header
      h1 About

    section
      p
        | Hi! My name is Micheal Benedict. I work at Twitter as a Product Manager for the Cloud Infrastructure team.

      .mediumInsert.small.left
        figure.mediumInsert-images
          img.circular(src='https://dl.dropboxusercontent.com/u/32194349/me.jpg', alt='Micheal Benedict')

      p
        | I previously worked at Fab.com and the lead the frontend engineering team.